[Unit]
Description=Postgrespure cluster logger
After=network.target

[Service]
ExecStart=/usr/pgpure/cluster_logger/pure_cluster_logger.py
ExecReload=/bin/kill -USR1 $MAINPID
ExecStop=/bin/kill -SIGTERM $MAINPID

[Install]
WantedBy=multi-user.target
